/* Global */

body {
  background-color: #F1F2F4;
  box-sizing: border-box;
  border-color: #611C35;
}

/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
}

.fullWidth{
  width: 100%;
}

@media (min-width: 800px) {
  /* half width cell */
  .cell {
    flex: 0 0 50%;
  }
}

@media (max-width: 800px) {
  /* full width cell */
  .cell {
    flex: 0 0 100%;
  }
}

/* Header */

#header {
  width: 100vw;
  text-align: center;
  margin-bottom: 2rem;
  display: inline-block;
}

#header_container {
  border-bottom: 0.2em solid #611C35;
  width: 60vw;
  margin: auto auto;
  padding-bottom: 20px

}

#header_logo {
  width: 14vw;
  vertical-align: middle;
}

#header_title {
  color: #611C35;
  font-weight: 900;
  font-family: "brandon-grotesque", sans-serif;
  text-align: right;
  text-transform: uppercase;
  font-size: 3.5vw;
  height: 100px;
  line-height: 100px;
  width: 30%;
  height: 10%;
  padding-left: 10px;

}

/* Navbar */

.navbar_container{
    text-align: center;
    width: 100vw;
}
.navbar_button {
    font-family: "brandon-grotesque", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #611C35;
    border-radius: 3px;
    margin: 0 5px;
    text-decoration: none;
    color: #611C35;
    transition: background-color 0.5s ease;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.navbar_button:last-child {
  margin-top: 15px;
}
.navbar_button:hover {
    color: #F1F2F4;
    background-color: #611C35;
}

.highlighted {
  background-color: #611C35;
  color: #F1F2F4;
}

/* Team Images */
.team_image:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* Main Page Grids */

.mainpage_grid {
  text-align: center;
  font-family: "brandon-grotesque", sans-serif;
  border-bottom: 0.2em solid #611C35;
  width: 85%;
  margin: auto auto;
}

.noBorder {
  border: 0;
}

.mainpage_grid a{
    text-decoration: none;
    color: #611C35;
    font-size: 1em;
}
.mainpage_images_container {
  padding: 1em 5em;
}

@media (max-width: 1140px) {
  .mainpage_images_container {
    padding: 4em;
  }

.mainpage_grid_title {
  font-size: 3em;
  line-height: 0;
}
.team_image{
    border-radius: 5px;
}

/* Footer */
#footer {


    font-family: "futura-pt";
    padding: 0.5em;
}
#footer p {
    text-align: center;
    float: left;
    width: 50%;
}
