body {
	margin: 0;
    background-color: #FFFFF0;
}

p{
    font-family: "futura-pt";
}

.heading {
	font-size: 40px;
    font-family: "brandon-grotesque";
    text-align: left;
}
.biopiccontainer{
    padding-bottom: 40px;
}

.aboutcontainer{
    clear:left;
    text-align: left;
}

.main-bio {
    padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20px;
	word-spacing: 5px;
}

.divider {
    display: block;
    border-bottom: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
}

.bio-pic{
    width: 40%;
    float: right;
    padding-left: 5%;
}

.team-name h3 {
	padding-left: 5%;
	font-size: 30px;
    font-family: "brandon-grotesque";
}
.team{
    margin: 0px;
}
.team h3 {
	font-size: 30px;
	padding-left: 5%;
    font-family: "brandon-grotesque";
    margin: 0px;
}

.team-p {
	font-size: 20px;
	padding-left: 5%;
	word-spacing: 5%;
}
