body {
  background-color: #F1F2F4;
}
#header {
  width: 100vw;
  text-align: center;
}

#header_container {
  border-bottom: 0.2em solid black;
  width: 60vw;
  margin: auto auto;
}

#header_logo {
  width: 14vw;
  margin-bottom: -0.5em;
}

#title {
  color: black;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  font-size: 3.5vw;
  line-height: 0em;
}
