body {
  margin: 0;
  background-color: #f1f2f4;
}

p {
  margin: 0;
}
a{
    text-decoration: none;
    color: #611C35;
}

#profilePic {
  width: 100%;
  height: auto;
}

#profilePicHolder {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  box-sizing: border-box;
}

#nameHolder {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#name {
  text-align: center;
  font-size: 70px;
  font-family: "brandon-grotesque";
}

#borderTop {
  border-top: 3px;
  border-top: 3px solid;
  border-color: #611C35;
}

.questionHolder {
  width: 90%;
  height: 75px;
  border-bottom: 3px solid;
  border-color: #611C35;
  margin-left: 5%;
  margin-right: 5%;
}

.icon {
  width: 30px;
  height: auto;
  vertical-align: middle;
  margin-right: 10%;
}

.question {
  font-weight: 700;
  text-indent: 2%;
}

.answer {
  text-align: left;
  text-indent: 15%
}

.qanda {
  font-size: 15px;
  float: left;
  width: 50%;
  height: 75px;
  line-height: 75px;
  font-family: "futura-pt", sans-serif;
}

#main {
  margin: 10% 5% 10% 5%;
  font-family: "futura-pt", sans-serif;
}
#summaryIn img{
    height: 70%;
    width: 60%;
    border-radius: 50%;
    margin-bottom: 5%;
    text-align: center;
}

#summary {
  margin: 10% 5% 10% 5%;
  font-family: "futura-pt", sans-serif;;
}

#links {
  background-color: #ffcccc;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  color: #611C35;
}

@media (max-width: 500px) {
  /* full width cell */
  .qanda {
    width: 100%;
    height: 37.5px;
    line-height: 37.5px;
  }

  .answer {
    text-indent: 28%;
  }

  #name {
    font-size: 40px;
  }

  .icon {
    width: 20px;
    text-indent: 22.5%;
    margin-right: 15%;
  }
}

@media (min-width: 900px) {
  #summary {
    width: 25%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
  #questions {
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }
  #links {
    float: right;
    display: inline-block;
    width: 100%;
    margin-top: 26px;
  }
  #spacer {
    float: right;
    height: 26px;
    width: 100%;
    border-bottom: 3px solid;
    border-color: #611C35;
  }
  #summaryIn {
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-color: #611C35;
  }
}


  #hr-breaks {
    padding-bottom: 5%;
    padding-top: 20px;
  }

  #hr-breaks hr {
    width: 70%;
    border-color: #611C35;
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
  }

  #mid-break hr {
    width: 80%;
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
  }
