body {
  margin: 0;
}

#profilePic {
  width: 100%;
  height: auto;
}

#profilePicHolder {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  box-sizing: border-box;
}

#nameHolder {
  width: 100%;
}

#name {
  text-align: center;
  font-size: 30px;
}

.questionHolder {
  width: 100%;
}

.question {
  font-weight: bold;
}

.answer {
  text-align: right;
}

.qanda {
  font-size: 15px;
  float: left;
  width: 50%;
  text-align: center;
}

@media (max-width: 500px) {
  /* full width cell */
  .qanda {
    width: 100%;
  }
}

#links {
  background-color: blue;
  width: 60%;
  margin-left: 20%;
  text-align: center;
}
