body {
	margin: 0;
}

.heading {
	font-size: 40px;
	padding-left: 5%;
}

.main-bio {	
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20px;
	word-spacing: 5px;
}
.bio-pic img {
	padding-top: 5%;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10%;

}

.bio-pic {
	width: 90%;	
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.team-name p {
	padding-left: 5%;
	font-size: 50px;
}

.team h3 {
	font-size: 30px;
	padding-left: 5%;
	padding-top: 5%
}	

.team-p {
	font-size: 20px;
	padding-left: 5%;
	word-spacing: 5%;
}



